@import url("components/avatar.css");
@import url("components/tabs.css");
@import url("components/profile_header.css");
@import url("components/list.css");

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

h1, h2 {
  color:white;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

li a {
  text-decoration: none;
}

.list-inline li {
  display: inline-block;
}
.list-inline {
  list-style: none;
}

.text-center {
  text-align: center;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}

.product {
  margin: 20px 0;
  display: flex;
  align-items: center;
  padding: 20px;
}

.product-upvote {
  margin-right:20px;
}

.product-arrow {
  margin-bottom: 3px;
}

.product-image {
  width: 150px;
  border-radius: 10px;
  margin-right: 20px;
}
.product-upvote, .product-arrow, .product-count {
  transition: all 0.15s ease;
}

.product:hover {
  background: #f7f7fa;
  border-radius: 10px;
  cursor: pointer;
}
/* Upvote gets a bit bigger */
.product:hover .product-upvote {
  transform: scale(1.2);
}

/* 2 - Hover effects on product-upvote */

/* Text color turns blue */
.product-upvote:hover {
  color: #5898f1;
  cursor: pointer;
}
/* Arrow triangle turns also blue */
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}

.product-body {
  flex: 1 1 auto;
}

.product-controls {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 20px 30px;
}

.product-icon {
  margin: 0 10px;
  align-items: center;
  transition: opacity 300ms ease;
}

.product-icon i {
  color: rgb(170,170,170);
}

.fa:hover {
  color: red;
}


